{% load static %}
<div class="ui black inverted vertical footer segment" style="margin-top: 5em;padding:1em">
<div class="ui center aligned container">
  <div class="ui stackable inverted grid">
    <div class="five wide column">
      <h3 class="ui inverted header">Sigam-nos no Instagram</h3>
    </div>

    <div class="six wide column">
      <h4 class="ui inverted header">Desenvolvido por O2Agencia</h4>
    </div>

    <div class="five wide column">
      <div class="ui inverted link list">
        <a class="ui button basic inverted" >Contato</a>
        <a class="ui button basic inverted" >Política de Privacidade</a><p></p>
      </div>
    </div>



  </div>
  <div class="ui inverted section divider"></div>
  <div class="ui horizontal inverted small divided link list">
    <a class="item">Copyrigth 2019 Todos os direitos reservados</a>
    <a class="item" href="/login">login</a>
  </div>
</div>
</div>
